{%extends "base.html"%} 
{% block title %}Tasklist{% endblock title %} 

{% block headline %} Welcome To {{page}} {% endblock headline %} {%
endcomment %} {%block content%}
<div class="container">
  <br />
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <input
        name="task"
        type="text"
        placeholder="New Task ?"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
  <br />
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr class="row">
        <th class="col-8" scope="col">Task</th>
        <th class="col-2" scope="col">Done</th>
        <th class="col-1" scope="col">Edit</th>
        <th class="col-1" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %} {% if task.is_completed %}
      <tr class="table-success row">
        <td class="col-8">{{task.task}}</td>
        <td class="col-2">
          <a href="{% url 'pending_task' task.id %}"
            ><button type="button" class="btn btn-secondary">
              Mark as Pending
            </button></a
          >
        </td>
        <td class="col-1">
          <a href="{% url 'edit_task' task.id %}"
            ><button type="button" class="btn btn-warning">Edit</button></a
          >
        </td>
        <td class="col-1">
          <a href="{% url 'delete_task' task.id %}"
            ><button type="button" class="btn btn-danger">Delete</button></a
          >
        </td>
      </tr>
      {% else %}
      <tr class="row">
        <td class="col-8">{{task.task}}</td>
        <td class="col-2">
          <a href="{% url 'complete_task' task.id %}"
            ><button type="button" class="btn btn-success">
              Marks as Completed
            </button></a
          >
        </td>
        <td class="col-1">
          <a href="{% url 'edit_task' task.id %}"
            ><button type="button" class="btn btn-warning">Edit</button></a
          >
        </td>
        <td class="col-1">
          <a href="{% url 'delete_task' task.id %}"
            ><button type="button" class="btn btn-danger">Delete</button></a
          >
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
      {% if all_tasks.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ all_tasks.previous_page_number }}"
          >{{all_tasks.previous_page_number}}</a
        >
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="?page={{ all_tasks.number }}"
          >{{all_tasks.number}}</a
        >
      </li>
      {% if all_tasks.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ all_tasks.next_page_number }}"
          >{{all_tasks.next_page_number}}</a
        >
      </li>
      {% endif %}
      <a class="page-link" href="?page={{ all_tasks.paginator.num_pages }}"
        >>></a
      >
    </ul>
  </nav>
</div>
{%endblock content%}
