{%extends "base.html"%}

 {% block title %}Tasklist{% endblock title %}

{% comment %} {% block headline %}
 Welcome To {{page}}
 {% endblock headline %} {% endcomment %}

 {%block content%}
 <div class="container">
  <br>
  <form method="post">
    {% csrf_token %}
  <div class="mb-3">
    <input name="task" type="text" placeholder="New Task ?" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
  <br>
  <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in all_tasks %}
      {% if task.is_completed %}
      <tr class="table-success">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{task.task}}</td>
      <td>Completed</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
      {% else %}
       <tr>
         <th scope="row">{{ forloop.counter }}</th>
         <td>{{task.task}}</td>
         <td>Not completed</td>
         <td>Edit</td>
         <td>Delete</td>
      </tr>
     {% endif %}
    {% endfor %}
  </tbody>
</table>
 </div>
 {%endblock content%}